{% extends 'basic.html' %}
{% block title%}URLmedia{% endblock %}

{% block body%}
<div class="container">
    <form action="/tracker" method="get">
        <div class="form-group">
            <br><br>
            <label>Enter your URL</label>
            <input type="text" name="text" class="form-control form-control-lg" placeholder="Enter your URL to extract the media resource.">
            <small class="form-text text-muted">Wait for some time</small>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" name="checkbox" class="form-check-input">
            <label class="form-check-label">Agree to terms and conditions</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
